
/* src/pages/Home.css */

.page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
}

.movie-section {
  margin-bottom: 32px;
}

.review-section {
  background: linear-gradient(#1b1b1b, #151515);
  padding: 24px;
  border-radius: 16px;
}
